@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /*FUENTES*/
  @font-face {
    font-family: "TrebuchetMS";
    src: url("fonts/TrebuchetMS.ttf");
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: "BebasNeue";
    src: url("fonts/BebasNeue.otf");
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: "WebSymbolsRegular";
    src: url("fonts/websymbols-regular-webfont.eot");
    src: url("fonts/websymbols-regular-webfont.eot?#iefix")
        format("embedded-opentype"),
      url("fonts/websymbols-regular-webfont.woff") format("woff"),
      url("fonts/websymbols-regular-webfont.ttf") format("truetype"),
      url("fonts/websymbols-regular-webfont.svg#WebSymbolsRegular")
        format("svg");
    font-weight: normal;
    font-style: normal;
  }

  .symbol {
    font-family: "WebSymbolsRegular";
  }

  .bebas {
    font-family: "BebasNeue";
  }

  .trebuchet {
    font-family: "TrebuchetMS";
  }
}

@layer components {
  .texto1-cabecera {
    font-family: "TrebuchetMS";
    @apply trebuchet text-lila-claro text-3xl pl-8;
  }
  .texto2-cabecera {
    font-family: "TrebuchetMS";
    @apply text-lila-claro text-3xl pr-20;
  }

  .social-media {
    @apply flex justify-center space-x-4 mt-2;
  }
}
